@font-face {
    font-family: 'Pixellari';
    src: url(fonts/Pixellari.ttf);
}

@font-face {
    font-family: 'DS BIOS';
    src: url(fonts/Nintendo-DS-BIOS.ttf);
}

body {
    margin: 0;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 5%;

    letter-spacing: 0.1pt;
    line-height: 0.9;
    font-family: 'DS BIOS';
    font-weight: 100;
    font-size: 17pt;

    background-image: linear-gradient(to bottom, #fcebf2, #e6ffdb);
}

.site-title {
    width: fit-content;
    margin: auto;
}

.moving-text {
    text-align: center;
    font-weight: 100;
    text-shadow: 0 3px #d88888;
    font-size: 36pt;

    font-family: 'Pixellari';
    letter-spacing: 2px;
    line-height: 0.9;
}

.moving-text:hover {
    text-shadow: 0 0px;
    transform: translateY(3px);
    cursor: pointer;
}

h3 {
    line-height: 1;
    text-decoration: underline;
    font-weight: 100;
    font-size: 18pt;

    font-family: 'Pixellari';
    letter-spacing: 0.1px;
}

h4 {
    font-weight: 500;
    text-align: center;
    line-height: 0;
}

a {
    color: #c62a54;
    font-style: italic;
}

a:hover { color: #91042a; }

.reading, .assignments {
    background-color: #ffffff99;
    box-shadow: 0 9px 0 -4px #d88888;

    padding: 4%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.assignments p {
    margin: 0;
    padding: 0;

    padding-bottom: 10px;
}

li {
    margin-bottom: 25px;
}

li li {
    margin: 0;
}