body {
    margin: 0;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 5%;

    letter-spacing: 0.1pt;

    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #fcebf2, #e6ffdb);
}

.site-title {
    width: fit-content;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 900;

    text-shadow: 0 3px #d88888;
}

h1:hover {
    text-shadow: 0 0px;
    transform: translateY(3px);
}

h3 {
    line-height: 1;
    text-decoration: underline;
}

h4 {
    font-weight: 500;
    text-align: center;
    line-height: 0;
}

a {
    color: #c62a54;
    font-style: italic;
}

a:hover { color: #91042a; }

.reading, .assignments {
    background-color: #ffffff55;
    border-radius: 20px;
    box-shadow: 0 6px #d88888;

    padding: 4%;
    margin-top: 8%;
    margin-bottom: 8%;
}

li {
    margin-bottom: 25px;
}

li li {
    margin: 0;
}